/* 
The purpose of the container is to set the width of the entire grid. The width of the container is generally 100%
*/
.grid-container {
        width : 100%;
        max-width : 1200px; 
    }

/* using the 'border-box' model, we can create gutters with ease. */
 .grid-container *{
        box-sizing: border-box; 
    }

/* The purpose of the row element is to keep the columns inside it from overflowing onto other rows. */ 
    .row:before, 
    .row:after {
         content:"";
         display: table ;
         clear:both;
    }
/* There are different ways of posistioning columns in CSS. The least error prone and most widely used of these methods is the 'float' method. 
   If our columns are empty however, our floated columns will stack on top of each other. To prevent this, we'll give our columns a min-height of 1px.
   Our container width is 100% and we want 6 columns, so 100/6 = 16.66, therefore the base column width is 16.66%.*/ 
  [class*='col-'] {
        float: left;
        min-height: 1px; 
        width: 16.66%;
    /*-- gutter --*/
        padding: 12px;
    }

/* With previous comment being said, the calculations for column width are straight forward.
   The only thing we have consider when using these column combinations is that the total number of columns in a row adds up to 6 */

.col-1{ width: 16.66%; }
    .col-2{ width: 33.33%; }
    .col-3{ width: 50%;    }
    .col-4{ width: 66.66%; }
    .col-5{ width: 83.33%; }
    .col-6{ width: 100%;   }

/*-- some extra column content styling to make the grid more viewable --*/
    [class*='col-'] > p {
     background-color: #3D5AFE; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
/* to adjust the grid to be mobile responsive we have to adjust the widths of the columns. */

@media all and (max-width:800px){
        .col-1{ width: 33.33%;    }
        .col-2{ width: 50%;        }
        .col-3{ width: 83.33%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;      }

        .row .col-2:last-of-type{
            width: 100%; 
        }

        .row .col-5 ~ .col-1{
            width: 100%; 
        }
    }

/* For screens that are even smaller than 800px, we'll make all the columns except the very smallest 100% */

 @media all and (max-width:650px){
        .col-1{ width: 50%;        }
        .col-2{ width: 100%;    }
        .col-3{ width: 100%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;      }
    }